.page {
  background: white;
  width: 210mm;
  height: 297mm;
  grid-area: page;
  -webkit-box-shadow: 0px 0px 72px -8px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 0px 72px -8px rgba(0, 0, 0, 0.22);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  padding: 36px 42px;
  color: #323234;
  overflow: hidden;
}

.header h1 {
  font-size: 37px;
  max-width: 322px;
  margin: 0;
  font-weight: 700;
}

.header h2 {
  font-size: 13px;
  font-weight: 500;
  margin: 11px 0 0 0;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header ul li {
  max-width: 158px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 11px;
}

.header ul li .icon {
  margin-right: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.delimiterLine {
  height: 2px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.delimiterLine::before {
  content: '';
  position: absolute;
  width: 34px;
  height: 2px;
  background: #323234;
  left: 0;
  border-radius: 2px;
}

.delimiterLine span {
  background: #ACACAC;
  width: 100%;
  height: 1px;
  display: block;
}

.lineTitle {
  color: #323234;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 4px;
}

.aboutLine {
  margin-top: 25px;
  margin-bottom: 10px;
}

.aboutLine ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aboutLine ul li {
  color: #323234;
  font-size: 11px;
  margin-bottom: 5px;
}

.aboutLine ul li:last-child {
  margin-bottom: 0;
}

.aboutLine ul li span {
  font-weight: 600;
}

.experienceLine {
  margin-top: 25px;
  display: -ms-grid;
  display: grid;
  position: relative;
  -ms-grid-columns: 110px auto;
      grid-template-columns: 110px auto;
}

.experienceLine .ex-years {
  font-size: 13px;
  color: #282828;
}

.experienceLine .ex-years span {
  font-weight: 600;
}

.experienceLine .ex-years span:first-child::after {
  content: ' - ';
}

.experienceLine .ex-title {
  font-size: 12px;
  font-weight: 600;
  color: #121212;
  letter-spacing: 1px;
}

.experienceLine .ex-ins {
  font-size: 11px;
  margin-top: 2px;
  font-weight: 600;
}

.experienceLine .ex-ins span:first-child {
  color: #585858;
}

.experienceLine .ex-ins span:first-child::after {
  content: ' - ';
}

.experienceLine .ex-ins span:last-child {
  color: #0B0B0B;
}

.experienceLine .ex-info {
  list-style: none;
  padding: 0;
  margin: 8px 0 0 0;
  font-size: 11px;
  color: #777779;
}

.experienceLine .ex-info li {
  margin-bottom: 3px;
}

.experienceLine .ex-info li:last-child {
  margin-bottom: 0;
}

.experienceLine .ex-info li::before {
  content: '- ';
}

.expertiseLine {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-column-gap: 62px;
          column-gap: 62px;
  row-gap: 3px;
  margin-top: 30px;
  font-size: 11px;
  font-weight: 600;
}

.expertiseLine .item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 180px;
      grid-template-columns: auto 180px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.expertiseLine .item .slider {
  position: relative;
  width: 100%;
  height: 4px;
  background: #ACACAC;
  border-radius: 4px;
  overflow: hidden;
}

.expertiseLine .item .slider span {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 0;
  background: #323234;
  border-radius: 4px;
}
/*# sourceMappingURL=page.css.map */